In [1]:
l = [1, 2, 3, 4, 5, 6, 7]

In [2]:
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
for num in l:
    print (num)

1
2
3
4
5
6
7

In [10]:
12 % 20

12

In [11]:
for num in l:
    if num%2 == 0:
        print (num, ' é par')
    else:
        print (num, 'é impar')

1 é impar
2  é par
3 é impar
4  é par
5 é impar
6  é par
7 é impar

In [13]:
soma = 0
for s in l:
    soma += s

print (soma)

28

In [14]:
string = 'Essa é uma string'

In [15]:
for char in string:
    print(char)

E
s
s
a

é

u
m
a

s
t
r
i
n
g

In [16]:
tup = (1, 2, 3, 4, 5)

In [17]:
for t in tup:
    print (t)

1
2
3
4
5

In [18]:
l = [(1,2), (2, 3), (3, 4)]

In [21]:
(t1, t2) = l[0]

In [22]:
t1

1

In [25]:
for t1 in l:
    print (t1)

(1, 2)
(2, 3)
(3, 4)

In [26]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [27]:
for item in d:
    print(item)

k1
k2
k3

In [30]:
for (key, valor) in d.items():
    print(key, ':', valor)

k1 : 1
k2 : 2
k3 : 3